/*.test,
.tabContent div,.shopTable,.shopTable div{
    border:1px solid #faa
}*/



.createRepairScreen{
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 10px;
    width: 100%;
    overflow-y: scroll;
  }

/*icon css*/
.iconEdit {
    padding: 5px 5px !important;
    cursor: pointer;
    text-align: center;
    /*background:#ffffff url('../../Images/edit.png') no-repeat center center;*/
    display: inline-block;
  
    
    font-size: 1.4em;
}
.inpLookLikeLabel{
    background: rgba(0,0,0,0);
    border: none;
}

.iconSave {
    padding: 5px 5px !important;
    cursor: pointer;
    /*background:#ffffff url('../../Images/save.png') no-repeat center center;*/
    display: inline-block;
    color: #33aee3;
    
    font-size: 1.4em;
    
}

.iconCancel {
    padding: 5px 5px !important;
    cursor: pointer;
    /*background:#ffffff url('../../Images/cancel.png') no-repeat center center;*/
    display: inline-block;
    color: #33aee3;
    font-size: 1.4em;
}

.tab [class*="col-"] {
    padding: 0
}

#tabsContainer {
    padding: 10px;
    background: #ffffff;

}

body {
    overflow: hidden;
}

/*#tabsContainer input[type=radio]{
    margin: 0 5px;
    vertical-align: middle;
}*/
.skuDetail .col-12,
.skuDetail .col-m-12,
.skuDetail .sku {
    display: flex;
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box
}

.skuDetail label {
    display: inline-flex;
}

.skuDetail .fl>label {
    width: 35%;
}

.skuDetail .fr>label {
    width: 30%;
}

.input {
    padding-left: 35px;
    width: 128px;
    background: Red;
}

.barCode:after {
    background: url(../public/Images/barcode.jpg);
    content: "";
    position: absolute;
    height: 32px;
    width: 32px;
    margin: -10px 0 0 -10px;
    z-index: 99;
}

.barCode:after {
    background-position: -32px 0;
}

.repairDetailShopTable {
    border: 1px solid #e8e8e8;
}

/*shop table properties*/
.shopTableContent {
    height: 290px;
    overflow-y: scroll;
    position: relative;
    font-size: 0.9em !important;
    width: 100%;
}

.searchTableContent {
    height: 500px !important;
    font-size: 0.8em !important;
}

.shopHeader {
    background: #a59e9e;
    font-size: 1em !important;
    font-weight: 550;
    padding: .1em 0.3em !important;
    color: #fff;
    /* height: 60px; */
}

.shopTable .shopHeader,
.shopTable .subHeader,
.shopTable .shopRow {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0.3em;
    box-sizing: border-box;
    text-align: center;
  
}

.shopRow {
    border-bottom: 1px solid #ddd;
    
}
.crRow{
    height: 70px;
}

.shopTable .shopHeader>div {
    padding: 0.4em 0
}

.shopTable .subHeader {
    background: #d4d4d4;
    color: black;
    font-weight: 500;
    font-size: 1.1em !important;
}

.shopTable .shopRow div:nth-child(4) {
    text-align: left
}

.shopRow input[type="text"],
.shopRow input[type="number"] {
    text-align: center !important;
    width: 40px;
}

.shopHeader div:first-child {
    text-align: left !important
}

.shopRow .iconCancel {
    margin-left: 10px;
    /* float: left; */
    margin-right: 5px;
}

.inpQty {
    width: 52px !important;
}

#ck-button {
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    right: 25px;
    position: relative;
    top: -6px;
}

#ck-button span {
    text-align: center;
    padding: 4px 6px;
    display: block;
    cursor: pointer;
}

#ck-button input {
    position: absolute;
    top: -20px;
}

#ck-button input:checked+span {
    background-color: dimgray;
    color: #fff;
}


.font9em{
    font-size: 0.9em !important;
}

.rewrapLbl {
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    box-sizing: content-box !important;
    vertical-align: text-bottom;
}

.rewrapLbl span {
    text-align: center;
    padding: 4px 8px;
    display: block;
    cursor: pointer;
}

.rewrapLbl input {
    position: absolute;
    top: -20px;
}

.rewrapLbl input:checked+span {
    background-color: dimgray;
    color: #fff;
}

#repairPersonsDivSR,
#repairPersonsDivCR,
#repairPersonsDivSR1 {
    font-size: 1em;
    height: 140px;
    height: 83%;
    overflow-y: scroll;
    border: 1px solid #b5b3b3;
    margin: 5px;
}

@media screen and (min-width : 1024px) {

    /* Styles */
    .repairPersonsMainDiv {
        z-index: 999 !important;
        position: absolute !important;
        background: #ffffff !important;
        /* padding: 10px; */
        border: 1px solid #969595 !important;
        width: 150px !important;
        font-size: 1em !important;
        height: 140px !important;
        /*  overflow-y:scroll;*/
        padding: 0.1em !important;
        /*right: 20% !important;
          top: 25%;*/
        width: 400px !important;
        height: 30% !important;
        box-shadow: 0 0 50px #444343 !important;
        border-radius: 5px !important;
    }

    .repairPersonsMainDivSR1 {
        z-index: 999 !important;
        position: absolute !important;
        background: #ffffff !important;
        /* padding: 10px; */
        border: 1px solid #969595 !important;
        width: 150px !important;
        font-size: 1em !important;
        height: 140px !important;
        /*  overflow-y:scroll;*/
        padding: 0.1em !important;
        /*right: 20% !important;
          top: 25%;*/
        width: 400px !important;
        height: 30% !important;
        box-shadow: 0 0 50px #444343 !important;
        border-radius: 5px !important;
    }
}

@media screen and (min-width : 1024px) {

    /* Styles */
    .repairPersonsMainDivSR {
        z-index: 999 !important;
        position: absolute !important;
        background: #ffffff !important;
        /* padding: 10px; */
        border: 1px solid #969595 !important;
        width: 150px !important;
        font-size: 1em !important;
        height: 310px !important;
        /*  overflow-y:scroll;*/
        padding: 0.1em !important;
        /*  right: 11%!important;*/
        /*  top: 25%;*/
        width: 400px !important;
        /*height: 30%!important;*/
        box-shadow: 0 0 50px #444343 !important;
        border-radius: 5px !important;
    }
}

.repairPersonsMainDivSR {
    z-index: 999 !important;
    position: absolute !important;
    background: #ffffff !important;
    /* padding: 10px; */
    border: 1px solid #969595 !important;
    width: 150px !important;
    font-size: 1em !important;
    height: 310px !important;
    /*  overflow-y:scroll;*/
    padding: 0.1em !important;
    /*  right: 11%!important;*/
    /*  top: 25%;*/
    width: 400px !important;
    /*height: 30%!important;*/
    box-shadow: 0 0 50px #444343 !important;
    border-radius: 5px !important;
}

.repairPersonsMainDiv {
    z-index: 999;
    position: absolute;
    background: #ffffff;
    /* padding: 10px; */
    border: 1px solid #969595;
    width: 150px;
    font-size: 1em;
    height: 140px;
    /*  overflow-y:scroll;*/
    padding: 0.1em;
    /*right: 4%;
      top: 25%;*/
    width: 400px;
    height: 30%;
    box-shadow: 0 0 50px #444343;
    border-radius: 5px;
}

.repairPersonsMainDivSR1 {
    z-index: 999;
    position: absolute;
    background: #ffffff;
    /* padding: 10px; */
    border: 1px solid #969595;
    width: 150px;
    font-size: 1em;
    height: 140px;
    /*  overflow-y:scroll;*/
    padding: 0.1em;
/*    right: 4%;
    /*  top: 25%;*/
    width: 400px;
    height: 30%;
    box-shadow: 0 0 50px #444343;
    border-radius: 5px;
}

.repairPersonsMainDiv {
    -webkit-overflow-scrolling: touch;
}

.repairPersonsMainDivSR1 {
    -webkit-overflow-scrolling: touch;
}

.repairPersonsTxtDiv {
    margin: 5px;
}

/*#repairPersonsDiv::-webkit-scrollbar {
    display: none;
}*/
.cust-select-box {
    /* margin-left: 3px !important; */
    display: inline-flex;
    /* margin: 0.3em; */
    border: 1px solid #959898;
    border-radius: 3px;
    height: 37px;
    padding: 0px 4px;
    text-overflow: clip;
    font-size: 14px;
    text-align: left;
    line-height: 39px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ebebe4;
    pointer-events: none;
    white-space: nowrap;
    cursor: pointer;
}

.bshadowOut {
    box-shadow: 2px 2px 5px #999;
}

.bshadowIn {
    box-shadow: inset 2px 2px 5px #999;
}

#rPersonPopupInputCR,
#repairPersoninpSCR {
    width: 100%;
    cursor: pointer;
}

.cust-select-box {
    width: 65% !important;
}

.w90 {
    width: 70% !important;
}

.w654{
    width: 57% !important;
}
#rPersonPopupInputSR {
    width: 65% !important;
    padding-right: 16px;
    cursor: pointer;
    background-color: #ffffff !important;
    pointer-events: fill !important;
}

.alignright {
    right: 32% !important;
}

#repairPersoninputSR {
    width: 100% !important;
}

#repairPersoninputSR1 {
    width: 100% !important;
}

.repPersonDD,.repPersonDDSR1,.repPersonDDCR {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.4em !important;
    color: black;
    cursor: pointer;
}

.txtSKU {
    padding: 8px;
    margin: 0px;
    position: relative;
    top: -6px;
}

.shopRowslctStatus {
    width: 100% !important;
}

.cancelStatusClass {
    background-color: #f9f6f6 !important;
}

/* get status data on clcik of button:*/
.statusMianDiv {
    position: absolute;
    width: 50%;
    /* height: 365px; */
    border: 1px solid lightgrey;
    right: 11%;
    box-shadow: 0 0 50px #444343;
    z-index: 100;
    background-color: white;
    text-align: left;
    line-height: 39px;
    color: #333;
    overflow-y: scroll;
    /*overflow: hidden;*/
    padding: 0px 4px;
    text-overflow: clip;
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    .statusMianDiv {
        position: absolute;
        width: 20%;
        /* height: 365px; */
        border: 1px solid lightgrey;
        right: 24%;
        box-shadow: 0 0 10px #444343;
        z-index: 100;
        background-color: white;
        text-align: left;
        line-height: 39px;
        color: #333;
        overflow-y: scroll;
        /*overflow: hidden;*/
        padding: 0px 4px;
        text-overflow: clip;
    }
}